body {
  font-family:'Poppins', sans-serif;
  justify-content: center;
  text-align: center;
  background-color: orangered;
}

img {
  border-radius: 50%;
  width: 200px;
  margin-top: 20px;
}

.container {
  width: 500px;
  margin: auto;
}

.card {
  border-radius: 2em;
  border: seagreen;
  background-color: seashell;
  padding: 30px;
  margin: 30px;
}


/* h1 {
  font-style: normal;
  font-size: 300px;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
} */

/* h2 {
  margin-top: 10px;
  font-size: 100px;
  margin-bottom: 50px;
} */

.button {
  background-color: orangered;
  font-size: 30px;
  border-radius: 2em;
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF;
  margin-bottom: 20px;
}

a {
  color: white;
  font-size: 30px;
}
